tkinterweb
PyQt5
debugpy
pywebview
psutil
requests
pygame
bcrypt
pygame-ce 
python-vlc
moviepy
cryptography.fernet
pymupdf
Pillow
matplotlib
numpy
wikipedia
sounddevice
soundfile
PyAudio
cryptography
comtypes
pywin32
platform
